{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/form_lab4.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="logo">
            <svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" 
                        xmlns:xlink="http://www.w3.org/1999/xlink" 
                        width="50" height="50" viewBox="0, 0, 400,437">
                        <g id="svgg">
                                <path class="ui-icon"  id="path0" d="M199.520 0.302 C 
                                199.288 0.676,192.315 5.311,190.500 6.296 C 
                            189.767 6.694,188.492 7.408,187.667 7.882 C 185.449 9.158,182.922 10.530,179.000 12.589 C 177.075 13.600,174.375 15.025,173.000 15.756 C 171.625 16.487,169.750 17.469,168.833 17.937 C 167.917 18.406,167.092 18.877,167.000 18.985 C 166.908 19.092,166.458 19.366,166.000 19.594 C 165.542 19.821,164.717 20.304,164.167 20.667 C 163.617 21.029,162.942 21.430,162.667 21.556 C 161.934 21.894,155.673 26.137,154.880 26.833 C 154.671 27.017,153.662 27.804,152.637 28.583 C 144.135 35.044,136.048 47.404,134.194 56.773 C 134.115 57.173,133.825 58.550,133.550 59.833 C 131.854 67.745,131.874 81.453,133.591 88.000 C 134.449 91.275,137.696 96.473,140.078 98.387 C 147.191 104.103,155.693 106.452,170.833 106.883 C 176.942 107.057,177.970 107.164,178.904 107.727 C 179.870 108.309,182.000 110.644,182.000 111.121 C 182.000 111.227,182.375 112.133,182.833 113.135 C 183.292 114.137,183.669 115.154,183.672 115.395 C 183.674 115.636,183.884 116.433,184.137 117.167 C 185.659 121.570,186.660 132.280,186.895 146.667 L 187.089 158.500 186.378 157.865 C 185.987 157.516,185.667 157.086,185.667 156.910 C 185.667 156.733,185.142 155.874,184.500 155.000 C 183.858 154.126,183.333 153.243,183.333 153.039 C 183.333 152.834,183.211 152.667,183.061 152.667 C 182.912 152.667,182.471 152.100,182.082 151.408 C 181.693 150.716,181.103 149.823,180.771 149.424 C 180.043 148.550,179.228 147.507,178.237 146.182 C 177.832 145.640,176.716 144.365,175.757 143.348 C 174.798 142.332,174.011 141.411,174.007 141.302 C 173.999 141.065,168.350 135.924,166.534 134.500 C 165.832 133.950,164.995 133.275,164.674 133.000 C 164.352 132.725,163.606 132.130,163.015 131.677 C 162.424 131.225,161.605 130.550,161.196 130.177 C 160.786 129.805,159.734 128.900,158.858 128.167 C 157.983 127.433,157.001 126.608,156.677 126.333 C 156.353 126.058,155.378 125.233,154.511 124.500 C 153.643 123.767,152.641 122.918,152.284 122.614 C 151.927 122.309,151.049 121.583,150.333 121.000 C 149.618 120.417,148.718 119.667,148.333 119.333 C 147.949 119.000,147.054 118.254,146.345 117.676 C 145.635 117.098,144.617 116.222,144.081 115.729 C 143.545 115.236,142.303 114.158,141.321 113.333 C 131.719 105.270,126.197 97.551,123.797 88.833 C 123.662 88.343,123.095 85.714,122.827 84.333 C 121.933 79.742,121.922 65.038,122.808 60.459 C 122.884 60.070,123.030 59.245,123.133 58.626 C 123.402 57.016,123.597 56.188,124.497 52.836 C 125.103 50.581,128.821 42.804,129.678 42.000 C 129.775 41.908,130.370 41.008,131.000 40.000 C 132.214 38.056,134.058 35.563,137.125 31.719 C 139.274 29.025,139.330 28.875,138.083 29.146 C 137.012 29.378,135.777 29.624,133.000 30.157 C 131.806 30.386,127.478 31.530,125.357 32.176 C 124.362 32.480,123.312 32.777,123.024 32.838 C 122.241 33.003,114.664 35.649,113.417 36.194 C 112.821 36.454,111.771 36.902,111.083 37.189 C 110.396 37.477,109.533 37.839,109.167 37.995 C 105.392 39.598,96.050 44.483,95.272 45.261 C 95.049 45.484,94.740 45.667,94.586 45.667 C 94.299 45.667,87.968 49.924,87.667 50.320 C 87.575 50.440,87.171 50.763,86.770 51.037 C 84.211 52.783,78.828 57.900,76.289 61.000 C 65.543 74.123,64.700 88.328,73.829 102.478 C 74.798 103.981,75.796 105.425,76.046 105.688 C 76.296 105.951,76.893 106.692,77.373 107.333 C 78.151 108.372,83.994 114.314,85.077 115.167 C 87.153 116.802,90.820 118.882,93.388 119.881 C 96.038 120.913,97.642 121.364,102.833 122.539 C 104.642 122.948,109.918 123.498,115.167 123.824 C 124.537 124.407,126.478 124.571,131.500 125.208 C 132.547 125.341,136.358 126.128,139.167 126.791 C 143.259 127.757,150.008 131.195,152.824 133.748 C 153.379 134.252,153.935 134.664,154.060 134.665 C 154.184 134.666,154.484 134.854,154.726 135.083 C 154.968 135.313,156.108 136.305,157.257 137.289 C 160.170 139.782,166.998 146.761,169.379 149.680 C 170.046 150.498,170.881 151.495,171.234 151.896 C 171.586 152.296,172.166 153.024,172.521 153.512 C 173.252 154.517,174.826 156.583,175.432 157.333 C 179.721 162.643,185.501 174.103,187.286 180.833 C 188.369 184.918,188.761 196.789,188.238 209.667 C 187.976 216.107,187.790 220.556,187.514 227.000 C 187.424 229.108,187.265 233.758,187.161 237.333 C 186.903 246.225,186.743 247.012,185.209 246.989 C 183.509 246.964,183.175 246.239,183.093 242.403 C 182.943 235.412,181.657 223.179,180.668 219.333 C 180.503 218.692,180.056 216.817,179.674 215.167 C 179.291 213.517,178.764 211.492,178.502 210.667 C 177.236 206.689,176.464 204.487,175.638 202.500 C 175.410 201.950,175.202 201.425,175.178 201.333 C 175.136 201.176,174.692 200.202,173.054 196.667 C 172.671 195.842,172.012 194.567,171.588 193.833 C 169.151 189.613,168.137 187.988,166.969 186.431 C 166.253 185.476,165.667 184.551,165.667 184.375 C 165.667 184.199,165.554 184.006,165.417 183.944 C 165.279 183.883,164.144 182.599,162.894 181.090 C 159.228 176.666,148.913 167.667,147.509 167.667 C 147.419 167.667,146.556 167.166,145.590 166.554 C 144.148 165.641,139.631 163.319,139.000 163.166 C 138.908 163.144,138.259 162.876,137.557 162.569 C 135.793 161.799,131.816 160.377,130.913 160.193 C 130.503 160.110,129.307 159.810,128.256 159.526 C 127.205 159.243,125.930 158.936,125.423 158.843 C 124.915 158.750,124.125 158.593,123.667 158.494 C 115.729 156.787,101.668 156.724,88.500 158.338 C 87.033 158.518,85.083 158.749,84.167 158.852 C 83.250 158.955,81.989 159.101,81.363 159.178 C 77.165 159.690,73.770 159.833,65.833 159.833 C 60.883 159.833,56.233 159.729,55.500 159.601 C 44.944 157.761,35.928 152.946,28.860 145.376 C 25.265 141.524,22.365 135.658,22.332 132.167 L 22.322 131.167 20.911 132.703 C 15.134 138.993,11.663 147.117,10.457 157.167 C 10.061 160.463,10.265 168.065,10.771 168.905 C 10.858 169.049,11.026 169.894,11.145 170.784 C 12.605 181.697,22.524 191.121,33.667 192.183 C 34.675 192.279,35.894 192.419,36.377 192.496 C 37.594 192.688,42.746 192.125,44.254 191.636 C 48.957 190.108,53.520 187.859,56.500 185.599 C 60.203 182.790,64.359 179.414,67.221 176.889 C 68.309 175.929,72.972 172.565,73.687 172.224 C 73.951 172.098,74.767 171.622,75.500 171.165 C 76.684 170.427,78.499 169.526,80.500 168.682 C 80.867 168.528,81.714 168.161,82.384 167.867 C 83.053 167.574,83.803 167.331,84.050 167.328 C 84.298 167.326,85.104 167.113,85.843 166.856 C 86.581 166.598,87.856 166.297,88.676 166.186 C 89.496 166.075,90.917 165.804,91.833 165.584 C 92.939 165.319,96.978 165.181,103.833 165.176 C 114.387 165.166,117.442 165.318,124.000 166.174 C 126.819 166.542,133.548 168.323,135.833 169.306 C 138.182 170.317,142.663 172.609,143.531 173.245 C 144.099 173.660,144.666 174.000,144.791 174.000 C 144.917 174.000,145.803 174.601,146.760 175.336 C 147.717 176.071,148.650 176.783,148.833 176.919 C 155.950 182.199,167.000 196.715,167.000 200.787 C 167.000 201.014,167.131 201.342,167.290 201.517 C 167.450 201.691,167.841 202.733,168.158 203.833 C 168.475 204.933,168.857 206.208,169.007 206.667 C 169.157 207.125,169.390 207.950,169.525 208.500 C 169.660 209.050,169.815 209.650,169.868 209.833 C 169.921 210.017,170.049 210.617,170.153 211.167 C 170.313 212.022,170.651 213.431,170.832 214.000 C 170.893 214.192,171.369 216.539,171.530 217.443 C 171.590 217.779,171.713 218.304,171.804 218.610 C 172.490 220.924,172.673 225.970,172.112 227.083 C 171.040 229.208,170.399 228.448,166.702 220.667 C 164.566 216.171,162.789 213.084,159.921 208.884 C 155.646 202.625,147.144 195.456,142.167 193.913 C 141.800 193.799,140.487 193.337,139.250 192.885 C 138.012 192.434,137.000 192.130,137.000 192.211 C 137.000 192.291,136.737 192.217,136.417 192.045 C 136.096 191.874,135.308 191.646,134.667 191.539 C 134.025 191.433,133.125 191.268,132.667 191.174 C 124.693 189.534,115.979 189.727,109.167 191.694 C 107.883 192.065,106.573 192.511,106.255 192.684 C 105.936 192.858,105.528 193.000,105.348 193.000 C 104.414 193.000,95.390 197.507,92.667 199.334 C 92.208 199.642,90.715 200.614,89.349 201.494 C 87.983 202.375,85.754 203.936,84.396 204.964 C 83.038 205.992,81.600 207.058,81.201 207.333 C 80.801 207.608,79.572 208.583,78.470 209.500 C 77.368 210.417,75.811 211.692,75.011 212.333 C 74.211 212.975,73.394 213.651,73.195 213.835 C 72.996 214.019,72.008 214.841,71.000 215.662 C 69.992 216.483,68.717 217.562,68.167 218.059 C 66.090 219.935,65.404 220.534,63.973 221.718 C 63.163 222.388,62.155 223.237,61.734 223.605 C 61.313 223.972,60.382 224.750,59.667 225.333 C 58.951 225.917,58.021 226.693,57.599 227.059 C 57.178 227.425,56.325 228.124,55.704 228.612 C 55.082 229.100,54.407 229.657,54.204 229.849 C 52.950 231.028,41.973 238.667,41.532 238.667 C 41.415 238.667,40.761 239.015,40.077 239.440 C 37.329 241.150,32.199 242.894,28.666 243.318 C 21.900 244.131,12.064 241.529,8.146 237.890 C 5.371 235.313,3.019 232.877,1.766 231.281 C -0.183 228.802,-0.077 228.676,0.117 233.250 C 1.086 256.075,6.795 267.700,18.779 271.258 C 34.362 275.884,46.393 267.978,61.560 243.144 C 71.916 226.189,83.580 213.905,97.500 205.292 C 98.629 204.594,103.947 201.948,106.167 200.980 C 106.949 200.639,110.396 199.529,111.833 199.156 C 112.383 199.013,112.983 198.850,113.167 198.795 C 117.768 197.404,127.613 197.354,132.500 198.697 C 145.254 202.203,155.605 211.343,162.477 225.167 C 165.204 230.651,167.998 238.715,168.889 243.667 C 168.971 244.125,169.181 245.140,169.356 245.923 C 169.530 246.705,169.758 247.887,169.863 248.548 C 169.969 249.210,170.119 250.070,170.197 250.459 C 170.275 250.848,170.415 251.767,170.507 252.500 C 170.599 253.233,170.743 254.358,170.827 255.000 C 171.281 258.477,171.492 262.875,171.491 268.833 C 171.488 276.610,171.310 278.079,169.838 282.444 C 167.052 290.702,163.151 293.564,155.851 292.703 C 147.195 291.682,146.394 289.686,147.207 271.167 C 148.402 243.959,146.352 232.844,139.286 228.214 C 137.054 226.752,131.422 226.455,127.833 227.612 C 117.499 230.941,115.843 244.101,125.165 248.818 C 130.997 251.768,134.584 248.751,132.874 242.333 C 132.337 240.317,135.005 238.355,136.903 239.371 C 140.071 241.066,139.316 248.074,135.369 253.616 C 134.983 254.159,134.667 254.718,134.667 254.859 C 
                            134.667 254.999,134.454 255.351,134.193 255.640 C 132.849 257.134,129.665 264.462,129.185 267.167 C 129.087 267.717,128.931 268.542,128.838 269.000 C 128.324 271.539,128.192 273.857,128.194 280.333 C 128.195 284.275,128.296 288.025,128.417 288.667 C 128.538 289.308,128.729 290.283,128.840 290.833 C 130.533 299.215,136.330 301.687,154.167 301.635 C 171.259 301.584,171.152 301.576,174.239 303.040 C 181.396 306.435,182.429 314.329,176.480 320.167 C 171.650 324.907,166.245 325.220,158.545 321.207 C 150.190 316.852,143.176 321.931,147.733 329.036 C 150.636 333.564,156.930 335.858,168.926 336.760 C 172.448 337.025,175.179 337.379,175.400 337.600 C 177.076 339.276,168.963 343.934,163.435 344.470 C 160.029 344.801,158.674 347.565,161.370 348.682 C 166.788 350.926,179.533 345.457,182.766 339.500 C 184.953 335.473,187.200 329.113,188.127 324.333 C 188.424 322.801,189.155 319.285,189.512 317.667 C 189.613 317.208,189.917 315.708,190.187 314.333 C 191.420 308.063,193.604 306.254,200.003 306.202 C 205.371 306.158,208.495 308.227,209.304 312.364 C 209.661 314.187,209.969 315.658,210.868 319.833 C 210.947 320.200,211.098 321.013,211.202 321.639 C 211.307 322.265,211.525 323.128,211.688 323.556 C 211.850 323.983,211.927 324.333,211.858 324.333 C 211.789 324.333,212.024 325.421,212.379 326.750 C 212.734 328.079,213.079 329.392,213.145 329.667 C 215.073 337.622,219.811 344.268,225.333 346.763 C 229.515 348.652,237.505 349.652,238.898 348.459 C 240.760 346.866,239.584 344.756,236.679 344.476 C 230.063 343.839,221.706 338.705,225.083 337.352 C 225.496 337.187,228.308 336.888,231.333 336.688 C 242.856 335.926,249.323 333.531,252.222 328.953 C 256.635 321.984,249.130 316.627,241.331 321.179 C 235.335 324.679,228.679 324.862,224.958 321.629 C 224.523 321.251,224.011 320.842,223.822 320.721 C 219.064 317.677,218.306 309.281,222.421 305.204 C 225.888 301.768,227.340 301.551,246.167 301.641 C 259.561 301.706,264.034 300.776,267.510 297.205 C 270.898 293.725,271.805 290.199,271.807 280.500 C 271.809 268.573,270.495 263.298,265.488 255.136 C 260.754 247.420,259.660 242.290,262.255 239.972 C 265.117 237.416,267.103 239.334,266.783 244.344 L 266.578 247.557 267.597 248.695 C 270.207 251.612,276.917 249.091,279.871 244.082 C 281.463 241.383,281.117 236.527,279.100 233.257 C 278.678 232.573,278.333 231.920,278.333 231.807 C 278.333 231.540,276.509 229.837,275.304 228.979 C 272.614 227.063,266.471 226.321,262.624 227.446 C 258.409 228.679,254.402 234.716,253.508 241.180 C 253.406 241.921,253.246 242.896,253.152 243.347 C 252.260 247.659,252.197 255.551,252.880 277.391 C 253.238 288.837,251.812 291.711,245.389 292.493 C 244.717 292.575,243.452 292.737,242.578 292.853 C 232.627 294.174,226.975 281.883,228.467 262.167 C 228.550 261.067,228.709 258.967,228.820 257.500 C 228.931 256.033,229.089 254.458,229.172 254.000 C 229.346 253.034,229.549 251.721,229.820 249.820 C 229.925 249.079,230.085 248.104,230.176 247.653 C 230.266 247.202,230.412 246.458,230.500 246.000 C 230.956 243.619,232.237 238.425,232.455 238.073 C 232.552 237.916,232.704 237.422,232.792 236.977 C 234.426 228.689,242.381 215.090,249.160 208.993 C 250.074 208.172,250.986 207.350,251.189 207.167 C 254.672 204.011,263.803 199.322,268.000 198.534 C 268.458 198.448,269.590 198.227,270.515 198.044 C 272.607 197.628,280.455 197.606,282.775 198.009 C 285.501 198.483,286.429 198.676,287.500 198.994 C 288.050 199.157,289.175 199.464,290.000 199.677 C 290.825 199.889,292.025 200.289,292.667 200.566 C 293.308 200.842,294.133 201.191,294.500 201.341 C 298.923 203.153,306.518 207.557,309.500 210.040 C 309.867 210.345,311.592 211.763,313.333 213.192 C 316.714 215.964,322.203 221.347,324.667 224.307 C 325.492 225.298,326.767 226.808,327.500 227.663 C 329.247 229.700,330.758 231.624,331.138 232.295 C 331.306 232.591,331.546 232.908,331.671 233.000 C 331.797 233.092,332.259 233.707,332.700 234.367 C 335.413 238.437,336.203 239.641,336.944 240.833 C 337.399 241.567,338.047 242.573,338.385 243.070 C 338.723 243.567,339.000 244.061,339.000 244.168 C 339.000 244.339,340.574 246.768,342.671 249.833 C 356.562 270.135,367.364 275.859,382.269 270.813 C 388.936 268.557,395.580 260.921,396.818 254.094 C 396.899 253.648,397.114 252.806,397.295 252.225 C 397.790 250.636,398.605 246.211,399.023 242.833 C 399.401 239.785,399.472 238.881,399.817 232.667 L 400.012 229.167 399.256 230.053 C 398.840 230.541,397.975 231.585,397.333 232.372 C 391.300 239.778,383.862 243.384,374.500 243.444 C 371.257 243.464,366.222 242.637,365.517 241.967 C 365.342 241.802,365.009 241.667,364.777 241.667 C 364.130 241.667,360.829 240.092,358.543 238.694 C 357.420 238.006,356.350 237.381,356.167 237.305 C 355.766 237.139,351.904 234.578,351.667 234.322 C 351.575 234.223,350.411 233.357,349.080 232.398 C 346.673 230.664,346.087 230.205,344.389 228.726 C 343.900 228.301,342.980 227.551,342.344 227.059 C 341.709 226.568,340.957 225.942,340.674 225.667 C 340.390 225.392,339.417 224.567,338.510 223.833 C 337.603 223.100,336.620 222.275,336.326 222.000 C 336.032 221.725,335.126 220.952,334.312 220.282 C 332.897 219.116,332.181 218.505,330.333 216.891 C 317.517 205.693,303.775 196.392,295.500 193.315 C 286.797 190.078,277.874 189.234,269.250 190.830 C 268.746 190.924,267.921 191.077,267.417 191.171 C 266.912 191.265,265.975 191.429,265.333 191.536 C 257.416 192.859,246.469 199.807,241.832 206.454 C 241.466 206.978,241.017 207.578,240.833 207.787 C 240.366 208.320,237.860 212.096,237.707 212.500 C 237.637 212.683,237.341 213.107,237.049 213.441 C 236.758 213.775,235.015 217.063,233.176 220.746 C 229.584 227.944,229.027 228.657,227.985 227.387 C 227.375 226.644,227.212 221.343,227.771 220.432 C 227.861 220.286,228.025 219.567,228.136 218.833 C 228.462 216.689,229.020 213.912,229.343 212.833 C 229.508 212.283,229.715 211.458,229.804 211.000 C 229.974 210.123,230.088 209.666,230.676 207.500 C 230.875 206.767,231.187 205.573,231.370 204.847 C 231.552 204.122,231.897 203.072,232.136 202.514 C 232.376 201.956,233.124 200.183,233.798 198.573 C 234.473 196.963,235.282 195.214,235.596 194.687 C 235.910 194.159,236.600 193.001,237.130 192.114 C 239.368 188.365,244.798 182.373,250.500 177.358 C 255.321 173.118,264.325 168.652,271.000 167.190 C 278.978 165.442,281.974 165.191,295.000 165.177 C 303.585 165.168,306.851 165.315,309.333 165.824 C 309.792 165.918,310.917 166.135,311.833 166.305 C 319.100 167.654,327.394 172.208,335.782 179.454 C 336.177 179.795,337.175 180.620,338.000 181.287 C 338.825 181.954,339.575 182.576,339.667 182.669 C 339.758 182.761,340.433 183.278,341.167 183.818 C 341.900 184.357,342.575 184.892,342.667 185.007 C 343.194 185.669,347.427 188.230,349.613 189.209 C 351.017 189.838,352.467 190.491,352.833 190.659 C 355.201 191.750,361.748 192.923,363.116 192.503 C 363.327 192.438,364.757 192.295,366.292 192.186 C 367.828 192.076,369.218 191.904,369.381 191.804 C 369.544 191.703,370.051 191.553,370.508 191.470 C 373.308 190.962,378.993 187.635,381.358 185.121 C 382.884 183.499,385.333 180.207,385.333 179.780 C 385.333 179.655,385.528 179.316,385.766 179.026 C 388.284 175.961,390.301 164.309,389.521 157.333 C 389.424 156.467,388.984 153.538,388.820 152.667 C 388.590 151.443,387.228 146.479,386.996 146.015 C 386.854 145.732,386.344 144.528,385.861 143.340 C 385.099 141.465,382.538 136.815,382.002 136.333 C 381.900 136.242,381.305 135.492,380.680 134.667 C 380.055 133.842,379.122 132.763,378.605 132.269 C 377.748 131.448,377.522 131.404,377.625 132.077 C 377.869 133.666,374.595 141.527,372.935 143.339 C 372.513 143.801,371.574 144.851,370.849 145.673 C 365.877 151.309,355.874 157.082,348.000 158.858 C 347.358 159.003,346.608 159.171,346.333 159.233 C 344.179 159.713,341.709 159.833,334.000 159.833 C 326.090 159.833,319.790 159.568,318.595 159.184 C 318.359 159.108,317.042 158.942,315.667 158.814 C 314.292 158.686,312.942 158.549,312.667 158.509 C 312.392 158.470,311.117 158.322,309.833 158.181 C 308.550 158.041,307.050 157.870,306.500 157.802 C 295.901 156.487,280.316 157.141,273.167 159.200 C 272.250 159.464,271.462 159.674,271.415 159.667 C 271.035 159.610,265.242 161.377,263.833 161.980 C 263.467 162.137,262.567 162.516,261.833 162.822 C 256.158 165.193,247.912 170.253,244.459 173.483 C 240.099 177.563,238.805 178.937,234.575 183.988 C 234.351 184.256,234.017 184.726,233.833 185.032 C 233.650 185.338,232.888 186.468,232.141 187.544 C 231.393 188.620,230.679 189.725,230.554 190.000 C 230.428 190.275,230.036 190.950,229.681 191.500 C 229.114 192.380,225.257 199.898,225.150 200.333 C 225.128 200.425,224.987 200.800,224.839 201.167 C 223.847 203.611,223.506 204.544,222.344 207.986 C 219.206 217.284,217.640 226.297,216.993 238.788 C 216.637 245.648,216.466 246.474,215.317 246.838 C 213.685 247.356,213.001 246.254,212.984 243.076 C 212.976 241.476,212.914 239.492,212.847 238.667 C 212.780 237.842,212.629 234.092,212.512 230.333 C 212.394 226.575,212.240 222.600,212.168 221.500 C 210.617 197.605,211.412 182.564,214.654 174.500 C 216.643 169.554,225.032 155.616,226.993 154.000 C 227.104 153.908,227.915 152.933,228.794 151.833 C 231.815 148.054,233.509 146.180,237.670 142.011 C 241.437 138.237,242.857 136.946,245.278 135.095 C 245.706 134.768,246.831 133.893,247.778 133.150 C 253.578 128.603,260.350 126.215,271.418 124.814 C 272.641 124.659,276.013 124.394,279.667 124.165 C 285.185 123.819,287.520 123.656,289.250 123.495 C 293.304 123.120,294.538 122.988,295.208 122.858 C 295.597 122.783,296.422 122.636,297.041 122.531 C 309.480 120.433,317.833 114.710,325.861 102.782 C 333.636 91.232,334.407 77.028,327.803 67.000 C 327.178 66.052,326.667 65.207,326.667 65.123 C 326.667 63.862,316.674 53.557,312.465 50.477 C 310.978 49.390,309.354 48.200,308.855 47.833 C 308.356 47.467,307.546 46.942,307.056 46.667 C 306.565 46.392,305.715 45.850,305.165 45.463 C 303.210 44.084,290.735 37.650,289.671 37.471 C 289.448 37.434,288.490 37.044,286.833 36.316 C 286.100 35.994,282.950 34.898,279.833 33.880 C 
                            271.954 31.307,271.298 31.117,268.083 30.487 C 267.579 30.388,266.916 30.232,266.610 30.140 C 265.941 29.938,264.892 29.720,263.374 29.467 C 262.755 29.363,261.968 29.225,261.624 29.159 C 260.663 28.973,260.510 28.733,265.075 34.578 C 266.561 36.481,270.092 41.636,271.414 43.833 C 271.954 44.731,273.601 48.099,274.348 49.833 C 274.740 50.744,276.017 54.975,276.209 56.000 C 276.295 56.458,276.498 57.358,276.661 58.000 C 276.824 58.642,277.055 59.992,277.175 61.000 C 277.294 62.008,277.461 63.358,277.546 64.000 C 277.786 65.820,277.769 78.954,277.524 81.000 C 277.179 83.881,276.679 86.725,276.205 88.500 C 274.919 93.321,271.901 99.492,269.500 102.211 C 269.317 102.418,268.652 103.222,268.023 103.997 C 265.922 106.583,259.531 112.732,256.037 115.529 C 255.599 115.880,254.699 116.646,254.037 117.232 C 252.431 118.654,251.555 119.399,250.000 120.667 C 249.284 121.250,248.384 122.000,248.000 122.333 C 247.616 122.667,246.715 123.417,245.999 124.001 C 245.283 124.584,244.341 125.385,243.905 125.781 C 243.469 126.176,242.384 127.100,241.494 127.833 C 240.604 128.567,239.641 129.400,239.355 129.685 C 239.068 129.970,238.158 130.718,237.333 131.347 C 236.508 131.976,235.667 132.643,235.463 132.829 C 235.259 133.015,234.511 133.617,233.800 134.167 C 229.416 137.558,222.196 144.962,220.000 148.318 C 219.725 148.738,219.342 149.251,219.149 149.458 C 218.956 149.664,218.056 150.957,217.149 152.330 C 214.750 155.962,214.057 157.066,213.593 158.000 C 212.990 159.214,212.777 153.282,213.052 143.000 C 213.576 123.486,215.661 113.051,219.944 108.511 C 221.228 107.149,221.528 107.099,229.833 106.850 C 241.297 106.506,248.227 105.085,254.833 101.722 C 257.220 100.508,258.412 99.614,260.667 97.347 C 263.275 94.725,263.815 93.932,265.705 89.948 C 268.656 83.726,268.158 64.017,264.789 53.731 C 260.457 40.503,249.535 27.845,236.833 21.332 C 236.467 21.144,235.717 20.697,235.167 20.339 C 234.617 19.981,233.642 19.403,233.000 19.055 C 232.358 18.707,231.083 18.007,230.167 17.499 C 228.558 16.608,225.634 15.056,219.662 11.924 C 218.101 11.105,215.594 9.738,214.090 8.884 C 212.587 8.031,211.284 7.333,211.195 7.333 C 211.106 7.333,210.388 6.906,209.600 6.384 C 208.812 5.862,207.643 5.150,207.004 4.801 C 206.364 4.452,204.520 3.229,202.905 2.083 C 199.720 -0.177,199.792 -0.139,199.520 0.302 M183.756 33.417 C 182.620 35.809,180.346 43.825,179.526 48.333 C 178.533 53.785,178.263 56.995,178.247 63.500 C 178.234 69.308,178.463 72.694,179.129 76.500 C 179.759 80.100,179.837 80.483,180.283 82.168 C 180.477 82.901,180.708 83.917,180.797 84.426 C 180.886 84.936,181.274 86.193,181.658 87.220 C 182.629 89.816,182.246 89.843,179.940 87.344 C 176.611 83.738,174.651 80.564,171.903 74.333 C 169.988 69.992,169.795 58.240,171.522 51.167 C 171.790 50.067,172.070 48.852,172.143 48.467 C 172.583 46.151,174.519 41.647,176.429 38.500 C 178.227 35.537,184.972 30.858,183.756 33.417 M218.974 33.748 C 225.747 38.912,229.438 49.247,229.481 63.167 C 229.504 70.366,229.083 72.377,226.379 77.993 C 224.352 82.204,218.483 89.927,217.816 89.260 C 217.693 89.137,217.846 88.316,218.156 87.435 C 218.650 86.032,219.791 81.764,220.187 79.833 C 221.328 74.277,221.500 72.153,221.500 63.667 C 221.500 57.009,221.316 53.388,220.863 51.126 C 220.785 50.736,220.637 49.911,220.533 49.292 C 220.430 48.673,220.266 47.792,220.169 47.333 C 220.072 46.875,219.917 46.085,219.824 45.577 C 219.731 45.070,219.424 43.795,219.141 42.744 C 218.859 41.693,218.572 40.608,218.505 40.333 C 218.438 40.058,217.847 38.212,217.191 36.231 C 216.536 34.250,216.000 32.560,216.000 32.476 C 216.000 32.263,218.338 33.263,218.974 33.748 M56.827 78.891 C 56.097 79.382,55.425 79.873,55.333 79.982 C 55.242 80.092,54.775 80.431,54.296 80.735 C 50.217 83.327,39.000 95.988,39.000 98.001 C 39.000 98.153,38.885 98.328,38.745 98.389 C 38.604 98.450,37.935 99.625,37.258 101.000 C 27.674 120.458,31.568 138.899,46.894 146.637 C 57.554 152.018,71.480 152.287,83.500 147.342 C 87.127 145.850,92.458 143.261,92.611 142.917 C 92.672 142.779,92.844 142.667,92.992 142.667 C 93.881 142.667,100.569 137.531,102.474 135.387 C 102.855 134.958,103.579 134.143,104.083 133.577 C 105.376 132.124,105.256 131.823,103.417 131.898 C 101.999 131.956,98.974 131.685,95.167 131.159 C 88.708 130.266,79.982 126.668,75.783 123.167 C 75.563 122.983,74.663 122.233,73.783 121.500 C 66.304 115.268,60.270 103.411,59.118 92.680 C 59.029 91.848,58.884 90.951,58.797 90.686 C 58.566 89.986,58.167 83.585,58.167 80.583 C 58.167 79.162,58.164 78.000,58.161 78.000 C 58.157 78.000,57.557 78.401,56.827 78.891 M341.614 82.072 C 341.457 94.411,338.975 103.980,333.571 113.075 C 331.532 116.507,325.659 122.392,321.871 124.797 C 318.235 127.106,311.545 129.906,308.333 130.463 C 308.058 130.510,307.008 130.722,306.000 130.932 C 303.859 131.379,302.303 131.564,298.083 131.873 C 296.387 131.997,295.000 132.175,295.000 132.268 C 295.000 133.125,299.316 137.536,302.500 139.934 C 305.119 141.906,310.454 144.810,315.500 147.010 C 325.974 151.577,341.842 152.103,349.801 148.148 C 350.334 147.883,350.946 147.667,351.163 147.667 C 351.782 147.667,356.882 144.472,358.669 142.966 C 362.549 139.694,366.041 133.800,367.042 128.833 C 367.227 127.917,367.460 126.792,367.562 126.333 C 367.825 125.141,367.808 117.417,367.539 115.833 C 366.419 109.246,363.614 101.807,360.451 97.034 C 360.013 96.374,359.470 95.553,359.244 95.211 C 356.438 90.956,352.322 86.417,347.833 82.627 C 347.100 82.008,346.425 81.419,346.333 81.318 C 346.242 81.217,345.642 80.772,345.000 80.328 C 344.358 79.885,343.634 79.329,343.391 79.092 C 341.773 77.521,341.670 77.692,341.614 82.072 M201.397 108.583 C 203.342 110.671,204.759 114.420,205.269 118.833 C 205.868 124.016,205.488 141.877,204.623 149.167 C 203.829 155.866,203.676 157.278,203.147 162.833 C 203.042 163.933,202.897 165.358,202.824 166.000 C 202.624 167.771,202.351 171.816,202.173 175.689 C 201.853 182.619,200.119 185.604,198.638 181.775 C 198.001 180.127,197.866 178.951,197.499 171.833 C 197.279 167.573,197.135 165.896,196.510 160.333 C 195.672 152.875,195.562 151.819,195.151 147.333 C 195.076 146.508,194.937 145.158,194.842 144.333 C 194.346 140.007,193.956 130.006,194.146 126.500 C 194.566 118.763,194.641 117.979,195.174 115.749 C 196.714 109.319,199.303 106.338,201.397 108.583 M395.205 182.431 C 394.862 183.019,394.283 184.025,393.919 184.667 C 393.554 185.308,393.157 185.908,393.037 186.000 C 392.917 186.092,392.544 186.596,392.210 187.121 C 391.242 188.640,386.711 193.245,384.512 194.944 C 374.966 202.319,361.870 203.917,348.205 199.374 C 346.075 198.666,344.334 198.180,344.335 198.293 C 344.337 198.515,344.789 200.341,345.377 202.500 C 345.922 204.504,347.013 207.757,347.360 208.412 C 347.529 208.730,347.667 209.145,347.667 209.332 C 347.667 209.963,350.928 216.880,352.352 219.271 C 356.675 226.528,363.926 231.946,370.920 233.148 C 371.514 233.250,372.488 233.418,373.083 233.521 C 374.463 233.761,378.626 233.787,379.500 233.561 C 379.867 233.466,380.868 233.228,381.726 233.032 C 395.997 229.764,402.896 207.875,396.989 184.607 C 396.134 181.239,395.998 181.073,395.205 182.431 M3.724 182.097 C 3.531 182.330,3.298 182.935,3.206 183.441 C 3.114 183.948,2.820 185.143,2.552 186.098 C -0.622 197.403,0.623 213.137,5.429 222.455 C 6.813 225.140,11.792 230.667,12.826 230.667 C 12.929 230.667,13.648 231.067,14.423 231.557 C 15.199 232.046,15.833 232.411,15.833 232.367 C 15.833 232.323,16.250 232.445,16.759 232.638 C 17.268 232.832,18.018 233.057,18.425 233.140 C 21.981 233.856,22.784 233.965,23.584 233.837 C 24.088 233.756,25.325 233.612,26.333 233.516 C 32.964 232.884,39.485 229.511,43.649 224.559 C 44.292 223.793,44.903 223.092,45.006 223.000 C 46.239 221.899,52.000 211.196,52.000 210.006 C 52.000 209.814,52.148 209.397,52.328 209.079 C 53.818 206.452,55.944 197.418,54.864 198.304 C 54.444 198.649,48.369 200.424,45.667 200.991 C 31.095 204.050,17.889 199.653,9.155 188.833 C 7.225 186.442,5.333 183.720,5.333 183.333 C 5.333 183.150,5.183 183.000,5.000 183.000 C 4.817 183.000,4.667 182.784,4.667 182.520 C 4.667 181.836,4.138 181.599,3.724 182.097 M193.565 247.471 L 194.500 248.275 194.500 267.388 C 194.500 292.861,194.197 293.852,186.500 293.561 C 178.183 293.246,175.928 283.229,182.498 275.787 C 187.050 270.631,188.910 265.365,189.192 256.833 C 189.493 247.752,190.753 245.053,193.565 247.471 M209.531 247.987 C 210.366 249.249,210.417 249.587,210.667 255.571 C 211.082 265.506,212.306 269.227,217.323 275.802 C 220.273 279.669,221.000 281.311,221.000 284.109 C 221.000 290.975,218.684 293.634,212.740 293.592 C 208.351 293.562,206.804 292.093,205.622 286.833 C 204.971 283.938,205.182 249.367,205.859 248.063 C 206.782 246.283,208.382 246.250,209.531 247.987 M45.684 275.705 C 42.630 279.710,40.887 280.707,34.333 282.200 C 32.645 282.584,27.112 282.650,25.333 282.307 C 24.325 282.113,23.071 281.877,22.547 281.784 C 21.490 281.597,16.922 280.169,15.750 279.659 C 15.338 279.480,14.588 279.165,14.083 278.959 C 13.579 278.754,12.738 278.361,12.214 278.086 L 11.262 277.587 11.440 278.877 C 11.920 282.349,15.410 289.678,17.773 292.176 C 17.989 292.405,18.466 293.022,18.831 293.546 C 19.568 294.602,24.440 299.547,25.520 300.333 C 25.897 300.608,26.647 301.144,27.186 301.524 C 35.089 307.093,46.727 304.709,50.496 296.750 C 53.394 290.631,52.383 280.610,48.255 274.535 L 47.464 273.371 45.684 275.705 M352.090 273.757 C 348.837 278.001,346.843 287.872,348.169 293.167 C 350.062 300.727,356.825 305.344,364.833 304.544 C 367.467 304.281,371.742 302.590,373.150 301.254 C 373.394 301.022,374.019 300.533,374.540 300.167 C 375.705 299.346,381.333 293.662,381.333 293.306 C 381.333 293.164,381.530 292.849,381.770 292.607 C 382.582 291.789,385.214 287.514,386.249 285.333 C 388.036 281.570,389.257 277.124,388.302 277.862 C 388.044 278.062,386.858 278.574,385.667 279.000 C 384.475 279.426,383.341 279.895,383.148 280.042 C 382.954 280.188,381.979 280.530,380.981 280.800 C 379.983 281.071,378.677 281.442,378.078 281.624 C 
                            374.320 282.771,367.519 282.805,363.744 281.696 C 363.145 281.520,362.545 281.366,362.411 281.354 C 
                            361.798 281.298,358.817 280.198,358.384 279.868 C 357.419 279.134,354.475 276.062,353.452 274.721 C 352.683 
                            273.713,352.320 273.456,352.090 273.757 M157.918 276.976 C 153.841 277.799,152.997 283.139,156.520 285.826 C 159.993 
                            288.475,164.453 286.008,164.175 281.591 C 163.954 278.083,161.477 276.256,157.918 276.976 M239.333 276.909 C 234.974 
                            277.701,234.398 284.951,238.569 286.544 C 240.992 287.470,245.274 285.515,245.358 283.444 C 245.372 283.108,245.450
                            282.470,245.532 282.025 C 245.982 279.575,242.679 276.179,240.364 276.712 C 240.255 276.737,239.792 276.826,239.333 276.909 M341.684 307.253 C 338.735 316.574,339.022 321.202,342.773 324.797 C 349.999 331.721,362.912 325.848,371.032 311.944 C 372.674 309.133,372.696 309.187,370.396 310.328 C 368.660 311.190,366.023 311.962,362.916 312.518 C 361.746 312.727,354.819 312.762,354.000 312.562 C 353.725 312.495,352.900 312.322,352.167 312.178 C 348.709 311.497,344.711 308.727,343.371 306.083 C 342.480 304.326,342.646 304.211,341.684 307.253 M56.214 306.697 C 54.084 310.489,48.446 312.777,41.334 312.736 C 37.742 312.715,36.820 312.610,33.833 311.880 C 32.607 311.580,29.654 310.459,28.740 309.946 C 27.241 309.106,27.207 309.147,28.162 310.660 C 28.623 311.390,29.000 312.140,29.000 312.327 C 29.000 312.514,29.150 312.667,29.333 312.667 C 29.517 312.667,29.667 312.834,29.667 313.039 C 29.667 313.362,31.072 315.439,32.666 317.472 C 40.326 327.243,50.260 330.370,56.894 325.100 C 60.818 321.983,61.259 312.624,57.797 305.931 C 57.196 304.768,57.335 304.701,56.214 306.697 M154.512 307.041 C 149.291 307.441,143.853 308.460,138.667 310.011 C 136.192 310.751,133.607 311.501,132.922 311.678 C 132.238 311.856,130.663 312.398,129.422 312.882 C 128.182 313.367,126.042 314.200,124.667 314.733 C 116.290 317.980,105.599 323.863,100.333 328.124 C 99.508 328.792,98.683 329.456,98.500 329.601 C 93.383 333.631,88.796 337.940,85.000 342.283 C 83.992 343.437,82.867 344.718,82.500 345.131 C 82.133 345.543,81.458 346.383,81.000 346.996 C 80.542 347.610,79.937 348.349,79.655 348.639 C 79.374 348.929,78.733 349.779,78.232 350.528 C 77.730 351.277,77.023 352.208,76.660 352.597 C 76.297 352.987,76.000 353.462,76.000 353.653 C 76.000 353.844,75.882 354.000,75.739 354.000 C 75.434 354.000,74.207 355.985,74.395 356.173 C 75.296 357.074,87.750 361.949,90.500 362.477 C 90.683 362.512,91.133 362.635,91.500 362.751 C 91.867 362.867,92.692 363.042,93.333 363.141 C 94.722 363.355,95.848 363.581,96.610 363.796 C 96.916 363.883,98.067 364.057,99.167 364.184 C 100.267 364.311,101.542 364.470,102.000 364.538 C 107.145 365.305,121.046 365.295,127.000 364.520 C 127.458 364.460,128.889 364.316,130.180 364.200 C 131.471 364.084,132.896 363.917,133.347 363.830 C 133.798 363.743,134.962 363.585,135.934 363.480 C 136.906 363.375,137.980 363.235,138.321 363.169 C 138.661 363.104,139.666 362.944,140.553 362.815 C 141.441 362.687,142.467 362.525,142.833 362.457 C 144.104 362.220,149.172 361.371,150.333 361.200 C 150.975 361.106,152.250 360.878,153.167 360.693 C 154.083 360.508,155.283 360.289,155.833 360.206 C 156.383 360.123,159.833 359.526,163.500 358.880 C 169.140 357.887,173.720 357.122,177.667 356.514 C 178.125 356.444,179.325 356.274,180.333 356.138 C 181.342 356.001,182.392 355.856,182.667 355.816 C 182.942 355.776,184.292 355.634,185.667 355.501 C 187.042 355.368,188.245 355.213,188.341 355.157 C 189.753 354.329,206.697 354.336,212.000 355.166 C 212.458 355.238,213.508 355.374,214.333 355.469 C 220.391 356.162,241.165 359.541,247.333 360.836 C 247.792 360.932,248.767 361.089,249.500 361.186 C 250.233 361.282,252.108 361.593,253.667 361.878 C 255.225 362.163,256.800 362.442,257.167 362.498 C 257.533 362.554,258.508 362.709,259.333 362.842 C 261.562 363.201,262.009 363.265,263.833 363.483 C 264.750 363.592,265.950 363.745,266.500 363.823 C 267.050 363.901,268.488 364.058,269.696 364.172 C 270.903 364.287,272.328 364.440,272.862 364.514 C 278.506 365.293,293.550 365.300,298.000 364.526 C 298.458 364.446,299.508 364.295,300.333 364.190 C 301.158 364.085,302.152 363.936,302.541 363.860 C 302.930 363.784,303.810 363.632,304.497 363.523 C 305.183 363.414,305.843 363.264,305.963 363.190 C 306.083 363.116,306.849 362.955,307.667 362.833 C 308.484 362.711,309.268 362.541,309.408 362.454 C 309.636 362.313,310.319 362.132,311.574 361.879 C 311.798 361.834,312.085 361.693,312.213 361.565 C 312.340 361.438,312.661 361.333,312.926 361.333 C 313.878 361.333,323.088 357.654,325.127 356.459 C 325.737 356.101,324.873 354.147,323.917 353.722 C 323.779 353.661,323.667 353.411,323.667 353.167 C 323.667 352.922,323.542 352.672,323.389 352.611 C 323.236 352.550,322.236 351.300,321.167 349.833 C 320.099 348.367,318.986 346.925,318.695 346.630 C 318.405 346.335,317.501 345.285,316.687 344.297 C 314.831 342.043,306.379 333.595,304.209 331.825 C 303.315 331.096,302.190 330.155,301.709 329.733 C 300.773 328.912,299.956 328.335,294.990 324.980 C 291.022 322.299,290.692 322.089,289.667 321.588 C 289.208 321.364,288.758 321.102,288.667 321.006 C 288.402 320.729,277.954 315.638,277.333 315.484 C 276.882 315.372,275.766 314.915,275.212 314.616 C 274.871 314.431,274.346 314.226,274.046 314.160 C 273.746 314.094,271.325 313.301,268.667 312.398 C 266.008 311.496,263.158 310.569,262.333 310.340 C 261.508 310.110,260.458 309.796,260.000 309.641 C 257.276 308.721,250.554 307.439,247.143 307.188 C 240.388 306.693,238.803 306.663,235.500 306.969 C 229.058 307.567,226.229 308.776,225.189 311.375 C 223.668 315.176,226.139 315.955,237.744 315.333 C 249.533 314.701,257.289 316.627,263.705 321.780 C 264.198 322.176,265.028 322.828,265.551 323.229 C 268.742 325.678,273.946 331.687,275.879 335.154 C 276.789 336.786,279.333 341.949,279.333 342.164 C 279.333 342.293,279.535 342.872,279.782 343.450 C 284.467 354.415,278.498 357.297,254.000 355.896 C 251.525 355.754,248.225 355.575,246.667 355.497 C 236.152 354.973,234.019 354.781,230.091 354.003 C 222.762 352.550,217.500 348.990,211.358 341.326 C 207.315 336.281,206.908 335.404,206.485 330.833 C 206.366 329.550,206.221 327.975,206.162 327.333 C 204.847 312.917,204.665 312.516,199.524 312.694 C 195.417 312.837,195.046 313.551,194.163 323.000 C 194.069 324.008,193.899 325.733,193.785 326.833 C 193.671 327.933,193.541 329.208,193.495 329.667 C 192.939 335.228,192.653 335.998,189.689 339.923 C 186.632 343.971,180.233 350.315,179.193 350.329 C 179.024 350.331,178.649 350.532,178.360 350.775 C 178.070 351.018,176.708 351.681,175.333 352.249 C 173.173 353.141,172.360 353.410,170.500 353.850 C 166.915 354.697,163.219 355.046,152.667 355.534 C 150.008 355.657,147.308 355.803,146.667 355.857 C 146.025 355.912,141.975 356.033,137.667 356.127 C 119.270 356.527,115.594 353.203,121.032 341.087 C 121.381 340.310,121.667 339.589,121.667 339.486 C 121.667 338.008,127.664 329.649,131.342 326.000 C 139.970 317.440,148.310 314.562,162.255 315.331 C 173.767 315.965,176.264 315.200,174.842 311.475 C 173.388 307.670,166.347 306.134,154.512 307.041 M285.342 324.129 C 287.079 324.982,288.904 325.940,289.398 326.257 C 291.944 327.890,297.554 331.975,301.246 334.884 C 305.028 337.864,310.289 344.081,311.614 347.138 C 312.394 348.937,311.015 351.151,309.147 351.098 C 307.246 351.045,304.915 348.898,298.634 341.419 C 296.208 338.530,291.097 333.029,287.278 329.194 C 283.458 325.359,280.333 322.182,280.333 322.134 C 280.333 321.875,282.556 322.760,285.342 324.129 M119.306 322.481 C 119.229 322.563,116.007 325.825,112.146 329.731 C 108.285 333.637,103.785 338.476,102.146 340.483 C 93.726 350.798,90.404 352.946,88.395 349.373 L 87.706 348.146 88.626 346.490 C 90.706 342.743,96.024 336.669,99.122 334.500 C 99.645 334.133,100.245 333.681,100.454 333.494 C 100.662 333.307,101.808 332.436,103.000 331.559 C 104.192 330.681,105.395 329.784,105.674 329.565 C 107.762 327.926,112.650 324.896,115.000 323.783 C 117.382 322.655,119.840 321.912,119.306 322.481 M123.015 327.691 C 122.259 328.470,121.390 329.532,121.082 330.053 C 120.775 330.574,120.405 331.000,120.261 331.000 C 120.118 331.000,120.000 331.212,120.000 331.472 C 120.000 331.732,119.882 331.994,119.738 332.056 C 119.437 332.183,114.667 339.242,114.667 339.560 C 114.667 339.676,114.292 340.262,113.833 340.863 C 113.375 341.464,113.000 342.051,113.000 342.167 C 113.000 342.283,112.625 342.869,112.167 343.470 C 111.708 344.071,111.333 344.661,111.333 344.781 C 111.333 344.900,110.808 345.729,110.167 346.622 C 109.525 347.516,109.000 348.395,109.000 348.576 C 109.000 349.365,106.233 351.983,104.833 352.518 C 101.071 353.955,100.315 351.634,103.098 347.191 C 103.904 345.903,108.137 339.823,108.480 339.459 C 108.674 339.253,109.432 338.372,110.165 337.502 C 112.035 335.279,115.255 332.072,117.192 330.505 C 118.095 329.774,119.112 328.923,119.453 328.613 C 120.187 327.946,124.063 325.952,124.255 326.144 C 124.328 326.217,123.770 326.913,123.015 327.691 M279.664 328.173 C 283.585 330.773,289.757 337.017,293.168 341.833 C 294.077 343.117,294.936 344.217,295.077 344.278 C 295.218 344.339,295.333 344.502,295.333 344.641 C 295.333 344.780,296.083 346.141,297.000 347.667 C 299.296 351.487,299.120 352.860,296.346 352.787 C 294.162 352.730,293.223 351.928,290.539 347.829 C 289.460 346.181,288.298 344.427,287.955 343.930 C 287.613 343.433,287.333 342.923,287.333 342.795 C 287.333 342.667,286.958 342.071,286.500 341.470 C 286.042 340.869,285.667 340.273,285.667 340.145 C 285.667 340.018,285.142 339.182,284.500 338.289 C 283.858 337.396,283.333 336.592,283.333 336.504 C 283.333 336.091,279.344 330.600,277.608 328.622 C 276.540 327.406,275.667 326.326,275.667 326.222 C 275.667 325.930,277.997 327.067,279.664 328.173 M333.726 330.239 C 329.675 340.571,334.799 347.303,344.000 343.736 C 344.458 343.559,344.908 343.405,345.000 343.395 C 347.197 343.152,351.667 338.702,351.667 336.757 C 351.667 336.612,350.264 336.517,348.549 336.546 C 342.183 336.656,337.747 334.692,334.902 330.506 L 334.090 329.311 333.726 330.239 M65.022 330.442 C 63.710 333.892,58.091 336.450,51.750 336.482 C 48.025 336.502,48.031 336.498,48.996 338.493 C 51.805 344.294,62.892 346.729,66.054 342.239 C 67.941 339.560,68.120 335.338,66.524 331.167 C 66.384 330.800,66.213 330.313,66.145 330.083 C 65.945 329.411,65.341 329.604,65.022 330.442 M44.297 353.816 C 40.078 354.980,36.000 358.634,36.000 361.252 C 36.000 364.460,39.780 368.329,42.917 368.332 C 45.003 368.334,46.098 367.029,46.522 364.038 C 46.888 361.456,47.088 360.998,48.347 359.860 C 50.687 357.747,52.214 357.849,54.649 360.284 C 58.648 364.283,59.010 371.461,55.427 375.710 C 54.971 376.251,55.286 376.600,58.167 378.742 C 58.350 378.878,58.972 379.367,59.549 379.829 C 61.759 381.597,69.089 384.972,72.647 385.859 C 76.246 386.757,77.278 386.983,78.588 387.161 C 79.431 387.275,80.207 387.422,80.312 387.487 C 81.719 388.356,100.734 388.377,107.167 387.516 C 107.717 387.443,109.142 387.286,110.333 387.167 C 111.525 387.049,112.725 386.892,113.000 386.817 C 113.275 386.743,114.100 386.596,114.833 386.491 C 116.384 386.268,119.465 385.740,120.667 385.492 C 121.125 385.397,122.168 385.237,122.984 385.135 C 123.801 385.034,124.776 384.787,125.151 384.586 C 125.526 384.385,125.874 384.260,125.924 384.309 C 125.973 384.357,127.098 384.156,128.424 383.862 C 129.749 383.567,131.133 383.261,131.500 383.182 C 132.701 382.922,141.110 380.734,143.667 380.016 C 145.042 379.630,146.467 379.245,146.833 379.161 C 147.200 379.077,147.875 378.873,148.333 378.708 C 148.792 378.542,150.742 377.923,152.667 377.331 C 159.267 375.304,163.500 373.911,163.833 373.656 C 164.017 373.516,165.367 373.017,166.833 372.546 C 168.300 372.075,170.775 371.241,172.333 370.692 C 176.873 369.094,177.517 369.354,177.372 372.722 C 177.333 373.627,174.804 377.662,173.105 379.532 C 172.589 380.099,171.717 381.123,171.167 381.806 C 170.617 382.489,169.932 383.328,169.646 383.670 C 169.359 384.011,168.834 384.692,168.479 385.182 C 168.124 385.673,167.660 386.258,167.447 386.482 C 157.859 396.632,162.751 420.458,176.333 429.755 C 176.792 430.069,177.791 430.769,178.555 431.311 C 184.289 435.382,190.025 436.835,200.333 436.830 C 207.591 436.827,209.265 436.610,213.667 435.103 C 223.406 431.769,230.750 424.565,235.349 413.833 C 235.776 412.838,236.987 408.702,237.144 407.704 C 238.465 399.299,237.454 393.764,233.545 388.000 C 232.331 386.210,232.955 387.006,227.667 380.500 C 224.408 376.491,223.194 374.735,222.775 373.426 C 221.786 370.339,223.155 369.056,226.242 370.176 C 227.117 370.494,229.108 371.185,230.667 371.712 C 232.225 372.239,233.800 372.814,234.167 372.990 C 234.870 373.328,245.313 376.807,249.000 377.931 C 253.877 379.419,263.852 382.173,265.667 382.533 C 266.125 382.624,267.099 382.857,267.832 383.051 C 269.079 383.381,269.463 383.472,271.167 383.848 C 271.533 383.928,272.208 384.078,272.667 384.181 C 273.125 384.284,273.875 384.438,274.333 384.525 C 275.163 384.681,277.746 385.191,279.333 385.511 C 279.792 385.603,280.692 385.768,281.333 385.877 C 281.975 385.986,282.650 386.109,282.833 386.150 C 283.017 386.191,283.917 386.337,284.833 386.475 C 285.750 386.613,286.875 386.787,287.333 386.861 C 287.792 386.935,289.067 387.087,290.167 387.199 C 291.267 387.311,292.249 387.453,292.351 387.514 C 293.714 388.334,318.334 388.324,319.663 387.502 C 319.765 387.440,320.519 387.293,321.340 387.177 C 322.162 387.061,323.084 386.893,323.390 386.803 C 323.696 386.712,324.259 386.570,324.640 386.486 C 325.021 386.402,325.596 386.263,325.917 386.176 C 326.237 386.090,327.151 385.861,327.947 385.668 C 332.662 384.523,340.082 380.531,343.466 377.319 L 344.766 376.085 343.938 374.959 C 339.676 369.165,343.113 358.333,349.213 358.333 C 350.595 358.333,352.836 360.834,353.130 362.704 C 353.796 366.934,354.781 368.333,357.094 368.333 C 361.215 368.333,365.438 362.303,363.414 359.306 C 362.574 358.062,360.493 356.000,360.077 356.000 C 359.882 356.000,359.672 355.887,359.611 355.750 C 359.440 355.364,356.864 354.054,355.792 353.808 C 350.899 352.683,343.328 353.931,336.500 356.986 C 331.045 359.427,328.953 360.413,324.000 362.880 C 315.748 366.989,312.550 368.257,310.089 368.399 C 309.948 368.407,309.531 368.528,309.161 368.669 C 306.640 369.627,288.976 369.740,281.800 368.843 C 281.268 368.777,279.718 368.621,278.356 368.497 C 276.993 368.373,275.615 368.221,275.294 368.159 C 274.973 368.097,273.763 367.953,272.605 367.839 C 271.447 367.725,270.125 367.575,269.667 367.507 C 269.208 367.438,268.158 367.301,267.333 367.202 C 264.609 366.876,262.510 366.595,261.833 366.465 C 261.467 366.395,260.371 366.252,259.399 366.147 C 258.427 366.041,257.302 365.891,256.899 365.812 C 256.496 365.734,254.442 365.439,252.333 365.157 C 250.225 364.875,247.975 364.567,247.333 364.472 C 238.349 363.152,219.973 360.914,214.833 360.515 C 214.100 360.458,212.000 360.290,210.167 360.143 C 203.852 359.634,191.526 359.816,185.833 360.501 C 185.100 360.590,183.450 360.741,182.167 360.838 C 177.541 361.188,148.397 364.866,145.391 365.480 C 144.965 365.567,143.690 365.727,142.558 365.836 C 141.426 365.945,140.275 366.094,140.000 366.167 C 139.520 366.295,138.151 366.497,135.667 366.808 C 133.112 367.127,131.126 367.388,130.333 367.510 C 129.875 367.580,128.600 367.728,127.500 367.838 C 126.400 367.949,125.125 368.099,124.667 368.171 C 124.208 368.243,122.708 368.402,121.333 368.524 C 119.958 368.647,118.383 368.790,117.833 368.842 C 109.017 369.683,95.884 369.680,91.667 368.836 C 91.208 368.744,90.308 368.563,89.667 368.433 C 89.025 368.303,88.425 368.184,88.333 368.168 C 87.955 368.103,84.450 366.931,83.833 366.663 C 83.193 366.385,79.503 364.632,69.500 359.853 C 62.862 356.682,61.881 356.271,57.440 354.810 C 52.956 353.334,47.534 352.924,44.297 353.816 M187.357 379.917 C 189.323 385.938,193.406 388.602,200.500 388.495 C 206.274 388.407,209.318 386.497,211.922 381.329 C 213.596 378.006,213.946 378.307,214.232 383.311 C 214.762 392.589,209.993 397.649,200.500 397.884 C 190.895 398.122,185.628 393.463,185.631 384.734 C 185.633 379.573,186.476 377.220,187.357 379.917 M159.483 381.626 C 159.016 382.056,145.735 386.771,143.833 387.181 C 143.467 387.260,142.792 387.459,142.333 387.624 C 141.875 387.788,140.825 388.107,140.000 388.333 C 139.175 388.559,138.125 388.861,137.667 389.004 C 136.848 389.260,134.134 390.017,131.500 390.722 C 130.767 390.919,129.642 391.271,129.000 391.504 C 128.358 391.737,127.758 391.927,127.667 391.926 C 127.409 391.922,124.701 392.693,122.667 393.350 C 115.041 395.810,112.021 396.171,93.333 396.860 C 86.925 397.096,87.433 396.877,87.918 399.189 C 90.475 411.380,109.118 417.835,123.303 411.441 C 128.020 409.316,130.415 407.947,132.383 406.251 C 133.181 405.564,134.021 405.002,134.250 405.001 C 134.479 405.001,134.667 404.850,134.667 404.667 C 134.667 404.483,134.823 404.333,135.015 404.333 C 135.332 404.333,140.273 401.151,140.667 400.694 C 140.758 400.587,141.808 399.831,143.000 399.012 C 144.192 398.194,145.336 397.369,145.542 397.179 C 145.749 396.989,146.258 396.608,146.673 396.333 C 147.089 396.058,147.767 395.533,148.181 395.167 C 148.595 394.800,149.734 393.825,150.712 393.000 C 154.968 389.411,159.636 384.088,160.432 381.917 C 160.660 381.295,160.046 381.107,159.483 381.626 M239.873 382.750 C 242.224 386.529,249.558 393.900,253.709 396.655 C 254.511 397.188,255.498 397.933,255.903 398.312 C 256.308 398.690,256.795 399.000,256.986 399.000 C 257.177 399.000,257.333 399.140,257.333 399.311 C 257.333 399.482,257.607 399.709,257.941 399.815 C 258.276 399.921,258.838 400.271,259.191 400.594 C 259.544 400.916,261.333 402.134,263.167 403.300 C 265.000 404.465,267.550 406.202,268.833 407.160 C 282.346 417.238,303.950 415.471,310.220 403.774 C 312.052 400.357,312.809 397.032,311.750 397.053 C 311.429 397.059,307.042 396.898,302.000 396.695 C 287.299 396.103,283.327 395.491,274.461 392.450 C 273.707 392.191,272.806 391.924,272.460 391.858 C 271.566 391.686,269.066 391.006,267.500 390.510 C 265.076 389.742,262.510 388.994,261.833 388.859 C 261.467 388.786,260.792 388.581,260.333 388.403 C 259.875 388.225,259.425 388.084,259.333 388.089 C 259.056 388.104,257.745 387.697,252.000 385.813 C 243.730 383.102,243.718 383.097,240.905 381.880 C 239.041 381.072,238.902 381.189,239.873 382.750 M224.036 388.583 C 227.356 396.322,226.214 407.172,221.467 412.984 C 220.241 414.485,216.530 418.000,216.171 418.000 C 216.084 418.000,215.223 418.498,214.256 419.106 C 209.086 422.362,199.240 423.578,192.333 421.812 C 191.875 421.695,191.086 421.522,190.579 421.428 C 190.073 421.334,189.576 421.124,189.476 420.962 C 189.376 420.799,189.061 420.667,188.776 420.667 C 187.822 420.667,182.949 417.521,181.031 415.667 C 174.846 409.688,172.731 402.395,174.504 393.167 C 174.610 392.617,175.005 391.342,175.383 390.333 C 175.760 389.325,176.099 388.317,176.136 388.093 C 176.173 387.869,176.300 387.589,176.419 387.470 C 176.656 387.233,176.753 387.652,177.310 391.333 C 179.455 405.497,189.908 412.442,205.364 409.972 C 212.033 408.906,217.300 405.312,219.783 400.134 C 220.302 399.052,220.858 397.913,221.020 397.604 C 221.616 396.462,222.690 391.762,222.891 389.417 C 223.136 386.558,223.160 386.540,224.036 388.583 M151.781 400.579 C 146.383 404.739,146.438 404.699,142.500 407.369 C 138.306 410.212,135.457 411.913,130.830 414.335 C 125.480 417.136,125.795 416.750,127.043 418.962 C 128.175 420.967,130.898 423.986,131.583 423.995 C 131.813 423.998,132.000 424.125,132.000 424.277 C 132.000 424.429,132.412 424.763,132.917 425.018 C 133.421 425.274,134.167 425.730,134.574 426.032 C 135.721 426.882,142.598 429.419,144.833 429.816 C 145.383 429.913,146.208 430.088,146.667 430.203 C 148.623 430.697,157.155 430.642,159.167 430.123 C 161.801 429.443,162.232 429.021,161.747 427.595 C 161.542 426.993,160.832 424.925,160.169 423.000 C 159.507 421.075,158.909 419.275,158.841 419.000 C 158.337 416.969,157.580 413.704,157.468 413.083 C 157.394 412.671,157.249 411.921,157.146 411.417 C 157.044 410.912,156.875 407.500,156.772 403.833 C 156.669 400.167,156.551 397.127,156.510 397.079 C 156.470 397.031,154.342 398.606,151.781 400.579 M243.281 401.376 C 243.252 403.827,243.198 406.208,243.161 406.667 C 242.920 409.633,242.655 412.109,242.509 412.753 C 242.416 413.164,242.280 413.875,242.205 414.333 C 241.844 416.563,239.228 425.240,238.335 427.167 C 237.512 428.945,237.783 429.239,241.167 430.246 C 247.463 432.118,263.267 428.462,268.533 423.914 C 271.082 421.713,272.390 420.129,273.374 418.050 L 273.916 416.908 271.208 415.503 C 269.719 414.731,267.675 413.628,266.667 413.054 C 265.658 412.479,264.608 411.901,264.333 411.770 C 264.058 411.639,263.233 411.149,262.500 410.682 C 261.767 410.215,260.925 409.683,260.630 409.500 C 260.335 409.317,259.660 408.880,259.130 408.530 C 258.600 408.180,257.567 407.505,256.833 407.030 C 256.100 406.555,255.302 405.979,255.060 405.750 C 254.817 405.521,254.508 405.333,254.372 405.333 C 254.237 405.333,253.835 405.069,253.480 404.745 C 253.124 404.421,252.008 403.564,251.000 402.839 C 249.992 402.115,249.092 401.438,249.000 401.336 C 248.860 401.181,245.133 398.265,243.750 397.230 C 243.422 396.985,243.322 397.872,243.281 401.376 " stroke="none" fill="#fcdc04" fill-rule="evenodd"></path><path id="path1" d="" stroke="none" fill="#100dc04" fill-rule="evenodd"></path><path id="path2" d="" stroke="none" fill="#100dc04" fill-rule="evenodd"></path><path id="path3" d="" stroke="none" fill="#100dc04" fill-rule="evenodd"></path><path id="path4" d="" stroke="none" fill="#100dc04" fill-rule="evenodd"></path></g></svg>
            
        </div>
        <div class="title">
            <h1 style="color: whitesmoke; padding-top: 10px;">Note Form</h1>
        </div>
    </div>
    <div class="form">
        <h1 style="padding-bottom:30px">Write Note</h1>
        <div class="box">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input" id="to-user">
                    <label for="to">To </label>
                    <input type="text" name="to_user" id="to_user" placeholder="Recipient" style="padding-left: 10px;padding-right: 10px;" required>
                </div>
                <div class="input" id="from-user">
                    <label for="from" id="from">From</label>
                    <input type="text" name="from_user" id="from_user" placeholder="Sender" style="padding-left: 10px; padding-right: 10px;" required>
                </div>
                <div class="input" id="title-user">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" placeholder="Subject" style="padding-left: 10px;padding-right: 10px;" required>
                </div>
                <div class="message" id="message-user">
                    <label for="Message">Message</label>
                    <textarea name="message" id="message" cols="50" rows="10" style="resize: none;padding-left: 5px; padding-top: 5px; margin-bottom:15px" required></textarea>
                </div>
                <div class="button">
                    <div class="input" id="submit">
                        <p><input type="submit" class="btn btn-success"></p>    
                    </div>
                    <div class="input" id="submit">
                        <a href=../><input type=button value='Cancel' class="btn btn-danger"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>