/* navbar */
.navbar{
    padding-left: 10px;
}

.navigation{
    background: #333;
    padding-bottom: 10px;
}

.navbar a{
    color: white;
}

.navbar-custom{
    background: black;
}

.navbar a:hover{
    color: white;
}


.nav-item a:focus{
    color: white;
}

.logo{
    padding-right: 30px;
}


.dropbtn {
    padding: 10px;
    background: #333;
    color: white;
    font-size: 15px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  .dropbtn{
      padding-left: 15px;
      padding-right: 15px;
  }
  .dropbtn:hover{
    background: rgba(255, 166, 83, 0.884);
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
      
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
      
    }

.nav-item{
        transition: 0.3s;
    }

.nav-item:hover{
        background: rgba(255, 166, 83, 0.884);
        opacity: 10;
    }
  
/* navbar */


