{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        *{padding: 0; margin: 0; box-sizing: border-box;} label, h1{color: white}
        html{margin: 10px; padding: 0;} h1{text-align: center; padding-top: 20px;} form{display: flex; flex-direction: column;align-items: center; margin-top: 7rem; }
        input[type='text']{width: 400px; font-size: 25px; padding-left: 1rem;} input[type='date']{padding-left: 1rem; width: 400px; font-size: 25px;} .form{margin-top: 10rem; } .input{padding-bottom: 10px;}
        .form{background-color: rgb(89, 8, 196); margin-left: 470px; margin-right: 500px; border-radius: 25px; margin-top: 100px;}
        .submit{padding-bottom: 20px; } input{border-radius: 10px;} .form{position:fixed; padding-left: 10rem; padding-right: 10rem;}
        .form{margin-top: 5rem;}
    </style>
    <title>Forms</title>
</head>
<body>
    <h1 style="color: black;">Welcome back</h1>
    <div class="form">
        <div class="box">
            <h1 style="padding-top: 10%;">Add Friend</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input">
                    <label for="name">Nama of Friend</label>
                    <p><input type="text" name="name" id="name" size="30" placeholder="Friend Name" required></p>
                </div>
                <div class="input">
                    <label for="name">NPM</label>
                    <p><input type="text" name="npm" id="npm" size="30" maxlength="10" placeholder="Friend NPM" required></p>
                </div>
                <div class="input">
                    <label for="name">Date of Birth</label>
                    <p><input type="date" name="DOB" id="DOB" required></p>
                </div>
                <div class="submit">
                    <p><input id="button-submit" class="btn btn-primary mb-2" type="submit" value="Submit"></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>