
/* *{
  margin: 0;
  padding: 0;
} */

h1{
  text-align: center;
  padding-bottom: 50px;
}
.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

table{
  width: 500px;
}

.table .button{
  padding-bottom: 10px;
  padding-right: 380px;
}

/* navbar */
.navbar{
    padding-left: 10px;
}

.navigation{
    background: #333;
    padding-bottom: 10px;
}

.navbar a{
    color: white;
}

.navbar-custom{
    background: black;
}

.navbar a:hover{
    color: white;
}


.nav-item a:focus{
    color: white;
}

.logo{
    padding-right: 30px;
}


.dropbtn {
    padding: 10px;
    background: #333;
    color: white;
    font-size: 15px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  .dropbtn{
      padding-left: 15px;
      padding-right: 15px;
  }
  .dropbtn:hover{
    background: rgba(255, 166, 83, 0.884);
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
      
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
      
    }

.nav-item{
        transition: 0.3s;
    }

.nav-item:hover{
        background: rgba(255, 166, 83, 0.884);
        opacity: 10;
    }
  
/* navbar */

.main{
  display: flex;
  flex-direction: column;
}

.title{
  align-items: center;
  text-align: center;
  
}

.friend-table
{
  border-collapse: collapse; min-width: 500px; font-size: 20px; margin-top: 10px;
} 
.table, .tr{
  border-bottom: 2px solid rgb(179, 56, 236); text-align: left;
}
th {
  background-color: rgb(162, 116, 248);
} 
table{
  border-radius: 10px;
} 

tr, th, td{
  padding: 10px;
} 

button{
  border-radius: 5px; padding: 10px 18px; font-size: 15px; background-color: rgba(220, 167, 255, 0.952); border-color: rgba(220, 167, 255, 0.952);
} 
tbody{
  background-color: rgb(240, 240, 240);
} 
thead{
  border-radius: 15px;
}
button:hover{
  background-color: rgba(219, 98, 250, 0.685); border-color: rgba(219, 98, 250, 0.685);
}




