*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    background-color: rgba(208, 194, 203, 0.703);
}

.main{
    background: #333;
    display: flex;
    padding-bottom: 10PX;
    flex-direction: row;
}

.logo{
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.form{
    text-align: center;
    background: rgba(208, 194, 203, 0.703);
    padding-top: 30px;

}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    display: flex;
    flex-direction: row;
    /* margin-right: 100px; */

}

#to-user{
    margin-left: 45px;
}
#from-user{
    margin-left: 25px;
}
#title-user{
    margin-left: 32px;
}

.button{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
/* #message-user{
    margin-left: 50px;
} */


/* .input:nth-of-type(2){
    margin-right: 40px;
    padding-right: 130px;
}
.input:nth-of-type(3){
    margin-right: 50px;
    padding-right: 130px;
} */

#submit{
        margin-left: 3rem;
        flex-direction: row;
    }


label{
    margin-right: 10px;
}

.message{
    display: flex;
    flex-direction: row;
}

.input .button a{
    text-decoration: none;
    color: black;
}

.input #to_user, #from_user, #title{
    border-radius: 20px;
    height: 35px;
    width: 70%;
}

.input #from_user{
    width: 71%;
}

.input #to_user{
    width: 74%;
}
.input #title{
    width: 72%;
}

.input{
    padding-bottom: 10px;
}











