*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    
}

body{
    background-color: rgba(87, 89, 92, 0.842) !important;
}

html{
    background: rgba(87, 89, 92, 0.842) !important; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: coral;
    background-clip: content-box;
}

.body{
    max-height: inherit;
}

.card-show{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 100px;
    justify-content: space-evenly ;
    flex-wrap: wrap;
        
}

.to-from{
    
    background: wheat; 
    margin: 0;
}

.to-from h6{
    margin: 0;
    padding-left: 3px;
    padding-bottom: 3px;
}



.content {
    margin: 0;
}

.card .main-content .content p{
    margin: 0;
}

/* .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 0px;

} */


h4{
    text-align: center;
}

h5{
    padding-left: 3px;
    padding-top: 5px;
}

p {
    background: wheat; 
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header{
    background-color:rgb(87, 127, 236);
    border-top-left-radius: 0.35em;
    border-top-right-radius: 0.35em;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    background-color: rgb(87, 127, 236);
    padding-bottom: 10px;
    border-bottom-left-radius: 0.35em;
    border-bottom-right-radius: 0.35em;
    padding-left: 10px;
    padding-top: 10px;
}



.card{
    max-width: 300px;
    width: 300px;
    border-style: none!important;
    margin-bottom: 130px;
    position:static;
    background: rgba(90, 92, 99, 0.842) !important;
    position:sticky;
}


.title{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.main{
    background: #333;
    display: flex;
    padding-bottom: 10PX;
    flex-direction: row;
}

.logo{
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.header{
    display: flex;
    flex-direction: column;
}

.header .back-button{
    align-self: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

