*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial;
    background: rgb(61, 58, 58) !important;
}

body{
    background: rgb(61, 58, 58) !important;
}

/* navbar */
.navbar{
    padding-left: 10px;
}

.navigation{
    background: #333;
    padding-bottom: 10px;
}

.navbar a{
    color: white;
}

.navbar-custom{
    background: black;
}

.navbar a:hover{
    color: white;
}


.nav-item a:focus{
    color: white;
}

.logo{
    padding-right: 30px;
}


.dropbtn {
    padding: 10px;
    background: #333;
    color: white;
    font-size: 15px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  .dropbtn{
      padding-left: 15px;
      
      padding-right: 15px;
  }
  .dropbtn:hover{
    background: rgba(255, 166, 83, 0.884);
    transition: 0.3s;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
      
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
      
    }

.nav-item{
        transition: 0.3s;
    }

.nav-item:hover{
        background: rgba(255, 166, 83, 0.884);
        opacity: 10;
    }
  
/* navbar */

.title-page {
    color: rgb(238, 234, 234);
    margin-top: 50px;
}

.main{
    display: flex;
        align-items: center;
    flex-direction: column;
}

table{
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 5px !important;
    border-collapse: collapse !important;
    border: 1px solid #999;
    border-top: none;
    width: 1000px;
    table-layout: auto;
    background: whitesmoke;
    margin-top: 20px;
}

td .from{
    width: 100px;
}

table,tr,td{
    border:none;
}

th{
    background-color: rgb(241, 202, 94);
    border-top: none;
    padding: 10px;
}
td{
    padding: 10px;
}

.button-nav{
    padding-top: 10px;
    display: flex;
}


.add-note{
    justify-self: left;
    padding-right: 10px;
}




